
#reference   Base2art.MonkeyTail.Compiler.Models
#reference   System.Collections.Generic
#reference   System.Linq

@people : IEnumerable<Person>

@-

@{people.Select($func) :-> <b>@{$_.Name}</b> }

@{this._unless(people.Count() = 0, $func) :->
  <h3>People</h3>
  <ul>
    @{people.Select($func) :-> <li>@{$_.Name} - @{$_.Height}</li> }
  </ul>
} 

@{this._if(people.Count() = 0, $func) :->
  <h3>No People</h3>
}