
#reference   Base2art.MonkeyTail.Compiler.Models
#reference   System.Collections.Generic
#reference   System.Linq

@people : IEnumerable<Person>

@-

@{people.Select($func) :-> <b>@{$_.Name}</b> }

@{if people.Count() <> 0 then $func else Html.Empty() :->
  <h3>People</h3>
  <ul>
    @{people.Select($func) :-> <li>@{$_.Name}</li> }
  </ul>
} @{if people.Count() = 0 then $func else Html.Empty()  :->
  <h3>No People</h3>
}