
@people : System.Collections.IEnumerable<Person>
@companies : System.Collections.IEnumerable<Person>

@-

@{people.map($func) :-> <li /> }


@{companies.map($func) :-> <li>@{$_.Name}</li> }

@{companies.map($func) :-> 
    <li>
        <ul>@{$_.Employees.map($func) :->
            <li>
                @{$_.Name}
            </li>
            }
        </ul>
    </li>
}

@*

let rez temp123 = "<li>" + temp123.Name + "</li>"
companies.Select(rez temp123)

*@



@*

companies.Select(temp123 => "<li>" + temp123.Name + "</li>")

*@
